# Data Analysis Project 5: London Housing Dataset

- https://youtu.be/q-Omt6LgRLc?list=PLy3lFw0OTlutzXFVwttrtaRGEEyLEdnpy

In [1]:
import numpy as  np
import pandas as pd

In [2]:
df = pd.read_csv("data/london_housing.csv")
df.head()

,date,area,average_price,code,houses_sold,no_of_crimes
0,1/1/1995,city of london,91449,E09000001,17.0,NaN
1,2/1/1995,city of london,82203,E09000001,7.0,NaN
2,3/1/1995,city of london,79121,E09000001,14.0,NaN
3,4/1/1995,city of london,77101,E09000001,7.0,NaN
4,5/1/1995,city of london,84409,E09000001,10.0,NaN

## Q1: Convert the Datatype of 'Date' column to Date-Time format.

## Q2: Add a new column ''year'' in the dataframe, which contains years only.

## Q3: Add a new column ''month'' as 2nd column in the dataframe, which contains month only.

## Q4: Remove the columns 'year' and 'month' from the dataframe.

## Q5: Show all the records where 'No. of Crimes' is 0. And, how many such records are there ?

## Q6: What is the maximum & minimum 'average_price' per year in england ?

## Q7: What is the Maximum & Minimum No. of Crimes recorded per area ?

## Q8: Show the total count of records of each area, where average price is less than 100000.