# Data Analysis Project 6: India Census 2011 Dataset

- https://youtu.be/e1zKFSrKeLs?list=PLy3lFw0OTlutzXFVwttrtaRGEEyLEdnpy

In [1]:
import numpy as np
import pandas as pd

In [2]:
df = pd.read_csv("data/india_census.csv")
df.head()

,District_code,State_name,District_name,Population,Male,Female,Literate,Workers,Male_Workers,Female_Workers,...,Christians,Sikhs,Buddhists,Jains,Secondary_Education,Higher_Education,Graduate_Education,Age_Group_0_29,Age_Group_30_49,Age_Group_50
0,1,JAMMU AND KASHMIR,Kupwara,870354,474190,396164,439654,229064,190899,38165,...,1700,5600,66,39,74948,39709,21751,600759,178435,89679
1,2,JAMMU AND KASHMIR,Badgam,753745,398041,355704,335649,214866,162578,52288,...,1489,5559,47,6,66459,41367,27950,503223,160933,88978
2,3,JAMMU AND KASHMIR,Leh(Ladakh),133487,78971,54516,93770,75079,53265,21814,...,658,1092,88635,103,16265,8923,6197,70703,41515,21019
3,4,JAMMU AND KASHMIR,Kargil,140802,77785,63017,86236,51873,39839,12034,...,604,1171,20126,28,16938,9826,3077,87532,35561,17488
4,5,JAMMU AND KASHMIR,Punch,476835,251899,224936,261724,161393,117677,43716,...,958,11188,83,10,46062,29517,13962,304979,109818,61334

## Q1: How will you hide the indexes of the dataframe.

## Q2: How can we set the caption / heading on the dataframe.

## Q3: Show the records related with the districts - New Delhi , Lucknow , Jaipur.

## Q4: Calculate state-wise:
### - Total number of population.
### - Total no. of the population with different religions.

## Q5: How many Male Workers were there in Maharashtra state ?

## Q6: How to set a column as index of the dataframe ?

## Q7: Add a Suffix to the column names.

## Q8: Add a Prefix to the column names.