# Data Analysis Project 9: Survey Dataset

- https://youtu.be/uaLHWSgyrnQ?list=PLy3lFw0OTlutzXFVwttrtaRGEEyLEdnpy

In [1]:
import numpy as np
import pandas as pd

In [2]:
df = pd.read_csv("data/sample_survey.csv")
df.head()

,response_id,collection_date,urban_rural,education,income,Vote_Now,Past_Vote,CM_satisfaction,MLA_satisfaction,age,gender,assembly_no,category,weight
0,1,5-24-2017,Rural,12th Pass,"₹ 30,000 - ₹ 50,000",BJP,BJP,Fully Dissatisfied,Fully Dissatisfied,26,Male,211,Gen,0.346969
1,2,5-24-2017,Rural,Graduate,"₹ 20,000 - ₹ 30,000",RLSP,JD(U),Somewhat Satisfied,Fully Dissatisfied,34,Male,189,BC,0.603419
2,3,5-24-2017,Rural,Graduate,"₹ 5,000 - ₹ 10,000",JAP(L),BJP,Fully Dissatisfied,Somewhat Satisfied,25,Male,191,Gen,0.673762
3,4,5-24-2017,Urban,Graduate,"₹ 10,000 - ₹ 20,000",RJD,RJD,Fully Dissatisfied,Somewhat Satisfied,36,Male,194,Gen,1.101298
4,5,5-24-2017,Rural,Graduate,"₹ 50,000 - ₹ 80,000",JD(U),Did not vote,Fully Satisfied,Fully Satisfied,22,Male,176,BC,0.333505

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6867 entries, 0 to 6866
Data columns (total 14 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   response_id       6867 non-null   int64
 1   collection_date   6867 non-null   object
 2   urban_rural       6867 non-null   object
 3   education         6867 non-null   object
 4   income            6867 non-null   object
 5   Vote_Now          6867 non-null   object
 6   Past_Vote         6867 non-null   object
 7   CM_satisfaction   6867 non-null   object
 8   MLA_satisfaction  6867 non-null   object
 9   age               6867 non-null   object
 10  gender            6867 non-null   object
 11  assembly_no       6867 non-null   int64
 12  category          6867 non-null   object
 13  weight            6867 non-null   float64
dtypes: float64(1), int64(2), object(11)
memory usage: 751.2+ KB

**Data Description:** \
A sample survey data (sample_survey.csv) is provided for analysis. Samples were collected over a period of nine days where the respondents were asked questions related to elections. Survey weights are in the "weight" column. Applicants are requested to use *python-pandas* for all data manipulations and *matplotlib* for any plotting related questions. Applicants are expected to not use *for-loops* or any kind of *iterations* for solving the questions. Use in built *pandas* functions only.

## Q1) Load the dataset into a pandas dataframe. Name the variable as “survey”.

## Q2) How many samples were collected on each day?

## Q3) What proportion of the total respondents were aged less than 45?

## Q4) Create a new column in the dataframe “age_group”. This column should contain the age group the respondent belongs to. The age groups are 18-25, 25-40, 40-55 and 55+. The dataframe should look like this after the column creation:

|response_id|age|age_group|
|:-|:-|:-|
|1|26|25-40|
|2|34|25-40|
|3|25|25-40|
|4|66|55+|

## Q5) How many samples were collected for each age-group? Which age-group had the most samples?

## Q6) What proportion of the respondents had opted for the **RJD** party in both the Vote_Now and the Past_Vote questions?

## Q7) For each day of sample collection, determine the proportion of respondents who were fully satisfied with the performance of the CM. So if there were a total of 1000 samples on day 1 and 300 out of those said they were fully satisfied, then our answer for that day would be 0.3.

## Q8) In a similar fashion create a day-wise proportion of respondents that opted fully dissatisfied with their MLA. Create a line plot of the result with date on x-axis and proportions on the y-axis.

## Q9) Create a pivot-table (or crosstab) with index as Past_Vote, Column as Vote_Now and cell values as the count of samples.
Answer - survey.pivot_table(index = 'Past_Vote', columns = 'Vote_Now', values = 'response_id', aggfunc = 'count')

## Q10) Repeat the above question with the cell values as the sum of “weight”.

## Q11) Create a dataframe by performing a group by over age_group and calculate the count of total samples under each age_group.

## Q12) Create a dataframe by performing a group by over age_group and finding the count of total samples for each age_group that opted for the JD(U) party in Vote_Now.

## Q13) Join/Merge the two dataframes from questions 12 and 11 with the common column as age_group.